<!DOCTYPE html>
<html>
<head>
	<title>Deck</title>
	<link rel="stylesheet" href="./css/styles.css"/>
</head>
<body id="landing">
    <div class="notFooter">
    <div class="centered text-center animate fadeIn contain">
<h1 class="bolder">DECK</h1>
<p id="catch">Your card on the web.</p>
<a href="/form"><button class="btn btn-outline">Get Started</button></a>
</div>
</div>
<footer id="footer" class="text-center">
        Made with <span id="heart" class="animate pulse">&#9825;</span> By <a href="http://kingpixil.github.io/Me" target="_blank">Kabir</a>
</footer>
</div>
<script src="./js/lib/paint.min.js"></script>
<script src="./js/scripts.js"></script>
</body>
</html>