<!DOCTYPE html>
<html>
<head>
	<title>Deck</title>
	<link rel="stylesheet" href="./css/styles.css"/>
</head>
<body id="landing">
    <div class="notFooter">
        <section id="hero">
    <div class="center text-center animate fadeIn contain">
<h1 class="bolder">DECK</h1>
<p id="catch">Your card on the web.</p>
<a href="/form"><button class="btn btn-outline">Get Started</button></a>
</div>
</div>
</section>

<section id="about">
    <div class="content">
    <div class="container">
    <h1>About Deck</h1>
    <p>Deck is an amazing place to make your very own address on the web. These are called "Cards", and they display your information. Your name, bio, and a button linking to your other things. This could be a Kickstarter Campaign, personal website, anything!</p>
    <p>Deck gets updated frequently, and is always improving. The current version is 1.0.0.</p>
    </div>
    </div>
</section>
<footer id="footer" class="text-center">
        Made with <span id="heart" class="animate pulse">&#9825;</span> By <a href="http://kingpixil.github.io/Me" target="_blank">Kabir</a>
</footer>
<script src="./js/lib/paint.min.js"></script>
<script src="./js/scripts.js"></script>
</body>
</html>